@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
    --primary-col:#EEEEEE;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    width: 95%;
    min-height: 100vh;
    padding:30px;
}

a{
    text-decoration: none;
    color:var(--primary-col);
}

body{
    overflow-x: hidden;
    background-color:#0F0E0E;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: var(--primary-col);
}

button{
    display: inline-block;
    padding: 1rem;
    background-color:transparent;
    border: 2px solid #fff;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--primary-col);
    max-width: 400px;
}

/* state game  section*/

header{
    display: flex;
    flex-direction: column;
     align-items: center;
    justify-content: center;
}

header > *+*{
     margin-top: 2.5rem;
}


header h1,header p,.board h1{
    font-weight:bold ;
    text-transform: capitalize;
}

header h1{
    font-size: 2rem;
}

header p{
    font-size: 1.1rem;
     max-width: 650px;
     width: 90%;
}

::placeholder{
    color: #fff;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.input{
    display: flex;
    flex-direction: column;
}

.input > *+*{
    margin-top: 1rem;
}

input[type='text']{
     padding:7px;
    color: #fff;
     width: 100%;
     outline: none;
     font-size:1.3rem;
     border: none;
     background-color: transparent;
     border-bottom: 2px solid var(--primary-col);
     text-align: center;
}

/* game board section */

.board{
    font-family: 'Montserrat', sans-serif;
    display: grid;
    grid-template-rows:50px 1fr auto;
    justify-items: center;
    align-content: center;
    align-items: center;
    gap: 2rem;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3,minmax(70px,120px));
    grid-template-rows:  repeat(3,minmax(50px,100px));
    
}

.box{
    border: 3px var(--primary-col) solid;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
}

.box:nth-child(1),
.box:nth-child(4),
.box:nth-child(7){
    border-left: none;
}

.box:nth-child(1),
.box:nth-child(2),
.box:nth-child(3){
    border-top: none;
}

.box:nth-child(7),
.box:nth-child(8),
.box:nth-child(9){
    border-bottom: none;
}

.box:nth-child(3),
.box:nth-child(6),
.box:nth-child(9){
    border-right: none;
}


.div-btn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.div-btn > *+*{
  margin-top: 17px;
}


/* modal */

.blur{
    /* Add the blur effect */
    filter: blur(3px);
    -webkit-filter: blur(3px);
}

.modal{
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.1);
    display: none;
    cursor: pointer;
}

.open-modal{
    display: flex;
}
    

.modal-content{
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 7px;
}

.display-wins{
font-size: 2.5rem;
}



@media(min-width:650px){

   /* start game section */
    header h1 ,.board h1{
        font-size: 3rem;
    }
    
    header p {
        font-size: 1.7rem;
        width: 100%;
    }
    
    .input{
        flex-direction: row; 
        justify-content: space-between;
    }
    
    .input > *+*{
        margin-top: 0;
    }
    
    input[type='text']{
        width: 50%;
    }

    /*  gameboard section*/
    .div-btn {
        flex-direction:row;
    }

    .div-btn > *+* {
        margin-top: 0px;
        margin-left:17px ;
    }

    /* modal */
    .display-wins{
        font-size: 3rem;
    }

}

@media(min-width:800px){

    header > *+*{
        margin-top: 3rem;
    }

        header h1 ,.board h1{
        font-size: 3rem;
    }

    header p {
        font-size: 2.3rem;
        width: 100%;
    }

    .input{
        flex-direction: row; 
        justify-content: space-between;
    }

    ::placeholder{
        font-size: 1.6rem;
    }
    
    /* modal */
    .display-wins{
        font-size: 3rem;
    }
}